*{
    margin: 0;
    padding: 0;
}
/* Header Section */
.header{
    height: 100vh;
}
/* Navigation Section */
.navbar-style{
    box-shadow: 0 5px 5px;
    text-transform: uppercase;
}
.logo{
    height: 70px;
    padding: 2px 5px;
}
.icon-bar{
    background: darkorange;
}
.search{
    padding: 5px;
    border-radius: 5px;
}
li a{
    color: #333;
}
/* Footer section */
footer{
    background-color: lightblue;
    text-align: center;
}



